.rooms-class {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 40px;
}

@media (max-width: 576px) {
  .rooms-class {
    grid-template-columns: repeat(2, 1fr);
  }
}
